@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@300;500;700&display=swap');

* {
  font-family: 'Roboto Mono', monospace;
}

body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
  }
  
  .password-container {
    text-align: center;
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    width: 50%;
  }

  .input-senha {
    border-radius: 5px;
    padding: 10px 20px;
    border: 1px solid #c63820;
  }
  
  button {
    padding: 10px 20px;
    background-color: #c63820;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }

  #zum{
    width: 50%;
    height: 100%;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  #login {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 100%;
    background-image: url('../img/STORY_02_1.png');
    background-repeat: no-repeat;
    background-size: cover;
  }
