* {
    margin: 0;
    padding: 0;
}

#formulario {
    display: none;
}

#logo{
    width: 20%;
}

button {
    display: none;
}

#cabecalho-pronto {
    width: 100vw;
    
}

#cabecalho {
    width: 100vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    
}

@page 
    {
        size: auto;   /* auto is the initial value */
        margin: 0mm;  /* this affects the margin in the printer settings */
    }